.search{
    height: 50px ;
    border-radius: 10px;
    width: 100%;
}

.white{
    color: #ffffff;
}
.orange{
    color: #ff5900;
}
.green {
    color: #2e8a12;
}

.medium-text{
    font-size: large;
}

.center-title{
    font-size:xx-large;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5px;
    background-color: rgb(65, 65, 65);
  }
  .avatar1{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    }

  #tieude_post{
    text-align: center;
    margin-top: 10px;
}

/* #t_com{  
    color: silver;
    text-align: center;
}

#t_pro{
    color: gold;
    text-align: center;
}

#t_pre{
    color:#51e2f5;
    text-align: center;
}

#c_com{
    border: 2px solid silver;
}

#c_pro{
    border: 2px solid gold;
}

#c_pre{
    border: 2px solid #51e2f5;
} */
/* Trangchu */
/* .header{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dad5d5;
    color: black;
} */
/* .timkiem{
    padding-top: 20px;
    text-align: center;
} */

/* .main{
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 20px
} */
.card1{
    color: black;
    text-decoration: none;
    
}
.card a:hover{
    color: rgb(148, 152, 148);
}

.footer{
    padding-top: 50px;
}
#tinhthanh{
    overflow: auto;
    max-height: 300px;
}
#tuychon{
    border-radius: 10px;
    background: #d1d0d0;
}
.anhdaidien{
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
}
.tentaikhoan{
    color: black;
    text-decoration: none;
}
.nguoidung {
    display: grid;
    white-space: nowrap;
    grid-gap: 10px;
    list-style-type: none;
    
}
.navbar-nav{
    white-space: nowrap;
}


/* css cho dang bai bds */

#tieude_post{
    text-align: center;
    margin-top: 10px;
}

/* #t_com{
    color: silver;
    text-align: center;
}

#t_pro{
    color: gold;
    text-align: center;
}

#t_pre{
    color:#51e2f5;
    text-align: center;
}

#c_com{
    border: 2px solid silver;
}

#c_pro{
    border: 2px solid gold;
}

#c_pre{
    border: 2px solid #51e2f5;
}

.error{
    color: red;
}

/* het css dang bài bất động sản */

#main{
    min-height: 500px;
} 

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #tieude_post{
    text-align: center;
    margin-top: 10px;
}
/* 
#t_com{
    color: silver;
    text-align: center;
}

#t_pro{
    color: gold;
    text-align: center;
}

#t_pre{
    color:#51e2f5;
    text-align: center;
}

#c_com{
    border: 2px solid silver;
}

#c_pro{
    border: 2px solid gold;
}

#c_pre{
    border: 2px solid #51e2f5;
} */
/* Trangchu */
.header{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dad5d5;
    color: black;
}
/* .timkiem{
    padding-top: 20px;
    text-align: center;
    top: center  ;
    left: center ;
} */

/* .main{
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 20px
} */
.card1{
    color: black;
    text-decoration: none;
    
}
.card a:hover{
    border: 1px solid #d0cece44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(0,1);
    ::before{
        filter: brightness(0,1);
        top: -200%;
        left: -200%;
    }
}
.object {
    width: 250px;
    height: 250px;
}
.cover{
    object-fit: cover;
}
.object1 {
    width: 450px;
    height: 450px;
}
.cover1{
    object-fit: cover;
}

.footer{
    padding-top: 50px;
}
#tinhthanh{
    overflow: auto;
    max-height: 300px;
}
#tuychon{
    border-radius: 10px;
    background: #ffffff;
}
.anhdaidien{
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
}
.tentaikhoan{
    color: black;
    text-decoration: none;
}
.nguoidung {
    display: grid;
    white-space: nowrap;
    grid-gap: 10px;
    list-style-type: none;
    
}
.navbar-nav{
    white-space: nowrap;
}


/* css cho dang bai bds */

/* #tieude_post{
    text-align: center;
    margin-top: 10px;
}

#t_com{
    color: silver;
    text-align: center;
}

#t_pro{
    color: gold;
    text-align: center;
}

#t_pre{
    color:#51e2f5;
    text-align: center;
}

#c_com{
    border: 2px solid silver;
}

#c_pro{
    border: 2px solid gold;
}

#c_pre{
    border: 2px solid #51e2f5;
} */

.error{
    color: red;
}

/* het css dang bài bất động sản */

#main{
    min-height: 500px;
}

.backgroundsearch{
    border-radius: 20px;
    /* background: rgba(242, 166, 26, 0.842); */
  background: linear-gradient(to right, #f03636, #ed7373); 
}


.top-left {
    left: 500px ;
  }

  .gioihanvanban{
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Số dòng tối đa */
        -webkit-box-orient: vertical; 
}
/* avata */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/* foodter */
.footer li a{
    text-decoration: none;
}
.avatarto {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0.5px;
    background-color: rgb(65, 65, 65);
  }
.nenxam{
    background-color: #eef1f3;
    border-radius: 10px;
  }
  .nenxamcard{
    background-color: #eef1f3;
    border-radius: 10px;

  }
  .nenxanh{
    background-color: #50b90b;
  }
  .nencam{
    background-color: #cb4b00;
  }
  .nenblue{
    background-color: #0099ff;
  }
  .nenvang{
    background-color: #e2cf00;
  }
  .property {
    width: 500px;
    height: 300px;
    object-fit: cover;
  }